apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: infra-services
  annotations:
    argocd.argoproj.io/sync-wave: "3"
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  sources:
  - repoURL: https://github.com/bobikenobi12/argo-infra.git
    targetRevision: HEAD
    path: helm/infra-services
    helm:
      valueFiles:
      - values/min/eu-central-1/infra-facts.yaml
      - values/min/eu-central-1/values.yaml
      ignoreMissingValueFiles: true
  destination:
    namespace: argocd
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
  revisionHistoryLimit: 3