apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: infra-apps-auto-deploy
  namespace: argocd
spec:
  destination:
    namespace: argocd
    server: 'https://kubernetes.default.svc'
  source:
    path: manifests/applications
    repoURL:  git@github.com:bobikenobi12/argo-infra.git
    targetRevision: HEAD
  project: infra
  syncPolicy:
    automated:
      prune: true
      selfHeal: true